@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: rgb(223, 223, 223);
}

body {
  background-color: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background-color: #2d2d2d;
}

::-webkit-scrollbar {
  background-color: #000000;
  width: 4px;
}
